@font-face {
    font-family: Gotham;
    src: url(../fonts/gotham/Gotham-Medium.otf);
    font-weight: 400;
}
@font-face {
    font-family: Gotham;
    src: url(../fonts/gotham/Gotham-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: Gotham-Book;
    src: url(../fonts/gotham/Gotham-Book.otf);
    font-weight: 400;
}
@font-face {
    font-family: Gotham-Book;
    src: url(../fonts/gotham/Gotham-BookIta.otf);
    font-weight: 400;
    font-style: italic;
}
body{
	font-family: Gotham;
	font-weight: 400;
	font-size: 16px;
	color: #000;
}

h1{
	font-weight: 300;
}
h3{
	font-family: Gotham-book;
	margin-top: 0;
}
h4{
	margin-bottom: 5px;
}
h5{
	font-size: 11px;
    color: #777;
    margin-top: 5px;
}
.sub-title{
	margin-top: 0;
}
.logo-container{
	float: left;
}
.header-details{
	float: right;
	margin: 7px 0;
}
.header-details i{
	color: #3e9d03;
}

.header .container{
	padding-top: 5px;
	padding-bottom: 5px;
}

.main-content{
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff; 
	padding-top: 10px;
    padding-bottom: 10px;

}
.client-review-wrapper{
    min-height: 115px;
    border-bottom: 1px solid #4979a8;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.client-reviews h3{
	margin-bottom: 20px;
}
.client-review-wrapper:last-child{
	border-bottom: none;
	margin-bottom: none;
    padding-bottom: none;
}
.client-reviews .client-details{
	width: 100px;
    text-align: center;
    position: absolute;
}
.client-reviews .client-details img{
	border: solid 1px #2a77ae;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}
.client-reviews .client-details .client-name{
	font-size: 13px;
}
.client-reviews .client-details .client-address{
	font-size: 11px;
	color: #dadada;
}

.client-reviews .client-review{
	float: left;
    padding-left: 115px;
}

.client-reviews .client-review .rating {
	font-size: 12px;
	color: #fcfcfc;
	margin-bottom: 5px;
}
.client-reviews .client-review .rating .stars{
	padding-left: 1em;
}
.client-reviews .client-review .rating i{
	color: #d89108;
	padding-right: .25em;
}

.client-reviews .client-review .review{
	font-family: Gotham-Book;
    font-style: italic;
    font-size: 11px;
}
.client-reviews .client-review .quick-link:after{
	content: url('../images/book.png');
	margin-left: 5px;
}
.client-reviews .client-review .quick-link{
	margin-right: 10px;
	margin-top: 10px;
	float: right;
}
.client-reviews .client-review .quick-link a{
	font-family: Gotham-Book;
	font-size: 10px;
	color: #fbd243;
	font-weight: bold;
}
.footer .container{
	padding-top: 40px;
	padding-bottom: 50px;	
	font-family: Gotham-Book;	
	color: #929ba4;	
	text-align: center;
}
.copyright{
	font-size: 12px;
}

.credentials img{
	float: right;
    display: block;
    margin-left: 100%;
    margin-bottom: 15px;
}
.footer-menu{ 
    padding: 0;
    margin-bottom: 40px;
    margin-top: 15px;
}
.footer .container a{
	font-family: Gotham-Book;	
	color: #929ba4;	
	text-align: center;
}
.footer-menu li{
	display: inline-block;
	font-size: 14px;
}


.footer-menu li:after{
    content: "\f111";
    font-family: FontAwesome;
    font-size: 8px;
    color: #bdc3cc;
    margin: 0 15px;
    top: -2px;
    position: relative;
}

.footer-menu li:last-child:after{
	content: "";
}

form{
	margin-top: 35px;
}
.form-group label{
	font-size: 18px;
    padding: 0;
    font-weight: 400;
}

.form-control{
	border-radius: 100px;
    padding: 28px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 65px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f7f9+0,e3e8ee+100 */
	background: #f5f7f9; /* Old browsers */
	background: -moz-linear-gradient(top, #f5f7f9 0%, #e3e8ee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f5f7f9 0%,#e3e8ee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f5f7f9 0%,#e3e8ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7f9', endColorstr='#e3e8ee',GradientType=0 ); /* IE6-9 */
}

.form-control:focus{
	background: #fff; /* Old browsers */
	box-shadow: 0px 0px 10px 5px #68809e;
}
.postcode-wrapper, .category-wrapper{
	position: relative;	
    font-size: 14px;
}
.postcode-wrapper:before{
	content: "1";
    position: absolute;
    left: 20px;
    top: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #d69d00;
    text-align: center;
    border-radius: 100%;
}
.category-wrapper:before{
	content: "2";
    position: absolute;
    left: 20px;
    top: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #d69d00;
    text-align: center;
    border-radius: 100%;
}


select{
	 -webkit-appearance: none;
}

.category-wrapper:after{
	content: "\f078";
    font-family: FontAwesome;
    position: absolute;
    right: 25px;
    top: 16px;
    color: #a6aaad;
}

.dropcontainer {
    position: absolute;
    font-size: 16px;
    color: #777;
    width: 100%;
    z-index: 1;
	} 

.trigger {
	display: block;
	width: 100%;
	border-radius: 100px;
    padding: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 65px;
    color: #9e9999;
    color: #999 !important;
	text-decoration: none !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f7f9+0,e3e8ee+100 */
	background: #f5f7f9; /* Old browsers */
	background: -moz-linear-gradient(top, #f5f7f9 0%, #e3e8ee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f5f7f9 0%,#e3e8ee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f5f7f9 0%,#e3e8ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7f9', endColorstr='#e3e8ee',GradientType=0 ); /* IE6-9 */
	}

.trigger:hover, .activetrigger:hover{
	color: #555 !important;
	text-decoration: none !important;
	background: #fff; /* Old browsers */
	box-shadow: 0px 0px 10px 5px #68809e;
	}
.activetrigger {
	display: block;
	width: 100%;
	border-radius: 100px;
    padding: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 65px;
	background: #fff; /* Old browsers */
	box-shadow: 0px 0px 10px 5px #68809e;
	color: #555 !important;
	text-decoration: none !important;
	}

.dropcontainer ul {
	font-size: 16px;
	border: 1px solid #ccc;
	border-top: none;
	background: #fff;
	list-style-type: none;
	padding: 20px 12px;
	margin: 0;
	z-index: 100;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 15px;	
    box-shadow: 0 0 2px 0px #055eca;
	}

.dropcontainer ul li {
	padding: 5px;
	padding-left: 53px;
	}

.dropcontainer ul li:hover {
	background: #bbdcf9;
	outline: none;
	}
.dropcontainer ul li:hover a{
	color: #555;
}
.dropcontainer ul li:first-child {
	display: none;
	}

.dropcontainer ul li:last-child {
	border-bottom: none;
	}
.dropcontainer ul li a, .dropcontainer ul li a:hover, .dropcontainer ul li a:active{
	color: #999;
	text-decoration: none;
	font-size: 14px;
}
.dropdownhidden {
	display: none;
	}

.dropdownvisible {
	height: auto;
	}


.helptext{
	text-align: center;
	font-family: Gotham-Book;
	font-size: 18px;
	display: block;
    margin-top: 20px;
}
.helptext a{
	color: #fff;
}

.modal a.close-modal {
    top: 0px;
    right: 0px;
    }
.modal li {
    font-size: 12px;
    list-style: none;
    color: #137eab;
    margin-bottom: 5px;
    font-weight: 300;
    font-family: Gotham-Book;
}

.modal{
	max-height: 60%;
    overflow-y: scroll;
}


.c-reviews img{
	position: absolute;
	top: 12px;
}

.c-details{
    padding-left: 110px;
    min-height: 75px;
    padding-top: 15px;
    border-top: 1px solid #6fc9ce;
    margin-bottom: 10px;
}
.c-name, .c-title, .c-address{
	display: block;
}

.c-reviews .stars{
	color: #d89108;
}
.c-reviews table{
	width: 100%;
	font-size: 12px;
	font-family: Gotham-Book;
	margin-bottom: 15px
}
.client-r {
    position: relative;
}

span.c-name {
    font-family: Gotham-Book;
}
span.c-address {
    font-family: Gotham-Book;
    font-size: 10px;
}

span.c-title {
    font-size: 11px;
    font-weight: 400;
}

.single-r {
    font-size: 12px;
    font-family: Gotham-Book;
}