<div class="modal">
  <h4>OTHER CATEGORIES</h4>
  <h5>Choose the category that best fits your case.</h5>
  <div class="row">
  	<div class="col-md-6">
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  		<li>Abuse (Child Domestic, Sexual)</li>
  	</div>
  	<div class="col-md-6">
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>
  		<li>Loremipsum Dolorsitomet</li>  		
  	</div>
  </div>
</div>