<div class="modal c-reviews">
  <h4>CLIENT REVIEWS</h4>
  <div class="client-r">
    <img src="./images/person1.png" />
   <div class="c-details">
      <span class="c-name">Mitchell M.</span>
    <span class="c-address">Cherry Hill, NJ</span>
    <span class="c-title">Family Law</span>
   </div>
  </div>
  Rating (28 users) <span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span> 
  <table>
    <tr>
      <td>Overall</td><td><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></td>
      
     
    </tr>
    <tr>
       <td>Responded in timely manner</td><td><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></td>
    </tr>
    <tr>
       <td>Responded in timely manner</td><td><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></td>
    </tr>
    <tr>
       <td>Responded in timely manner</td><td><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></td>
    </tr>
    <tr>
       <td>Responded in timely manner</td><td><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></td>
    </tr>
    <tr>
       <td>Responded in timely manner</td><td><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></td>
    </tr>
    <tr>
       <td>Responded in timely manner</td><td><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></td>
    </tr>
    <tr>
       <td>Responded in timely manner</td><td><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></td>
    </tr>
    <tr>
       <td>Responded in timely manner</td><td><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></td>
    </tr>
    <tr>
       <td>Responded in timely manner</td><td><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></td>
    </tr>
    <tr>
       <td>Responded in timely manner</td><td><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></td>
    </tr>
  </table>
  <div class="single-r">
    <span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span> by Dester Marchel, 06/10/2016
     <p>Did a great job. Got my bench warrant set aside. was sure I was going to jails. phew. judge seemed to respect her and I got what I</p>
  </div>  
</div>